.dark-mode {
    background-color: #212529;
    color: white;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode p {
    color: white;
}

.dark-mode .card {
    background-color: #343a40;
    color: white;
}

.dark-mode .card-body {
    color: white;
}

.dark-mode .bg-light {
    background-color: #343a40 !important;
    color: white;
}

.dark-mode footer {
    background-color: #000 !important;
}

.dark-mode .navbar {
    background-color: #000 !important;
}

.card img {
    height: 220px;
    object-fit: cover;
}
.hero-section {
    background: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("../images/Staples_High_School\,_Westport\,_CT.jpg");

    background-size: cover;
    background-position: center;
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hero-content p {
    font-size: 1.3rem;
    margin-bottom: 20px;
}
@media (max-width: 768px) {
    .hero-section {
        height: 350px;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }
}