.dark-mode {
    background-color: #212529;
    color: white;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode p {
    color: white;
}

.dark-mode .card {
    background-color: #343a40;
    color: white;
}

.dark-mode .card-body {
    color: white;
}

.dark-mode .bg-light {
    background-color: #343a40 !important;
    color: white;
}

.dark-mode footer {
    background-color: #000 !important;
}

.dark-mode .navbar {
    background-color: #000 !important;
}

.card img {
    height: 220px;
    object-fit: cover;
}